<h3>Добавление модификации, порта или ремастера</h3>
<br>

#PHP#

<form action="#FILE_NAME#" method=post enctype="multipart/form-data">
	<input type="hidden" name="formPosted" value="1">
	<input type="hidden" id="GameId" name="GameId" value="<?=$_REQUEST['GameId']?>">
	<input type="hidden" id="modOSSelected" name="modOSSelected" value="<?=implode(',',$_POST['modOS'])?>">
	<input type="hidden" id="modTagsSelected" name="modTagsSelected" value="<?=implode(',',$_POST['modTags'])?>">
	
	<div class="card">
		<div class="card-body" id="form_block">
			<div class="form-group">
				<label>Для какой игры добавляем модификацию</label>
				<select name="gameSelector" id="gameSelector" class="form-control">
					<option value="NULL">===НОВАЯ ИГРА===</option>
					#GAMES_ITEMS#
				</select>
			</div>
		</div>
	</div>
	
	<div class="card" id="game_card">
		<div class="card-body" id="form_block">

			<div class="form-group">
				<label>Название игры</label>
				<input class="form-control" name="gameTitle" value="<?=$_POST['gameTitle']?>">
			</div>
			
			<div class="form-group">
				<label>Ссылки. Формат: чередующиеся строки "ссылка/описание" <a target=_blank href=/img/create_links_example.png>(пример)</a></label>
				<textarea class="form-control" name="gameLinks" rows="4" id="gameLinks"><?=$_POST['gameLinks']?></textarea>
			</div>
			
			<div class="form-group">
				<label for="gameFileLogo">Логотип</label>
				<br>
				<input type="file" name="gameFileLogo" id="gameFileLogo" class="input-default-js">
				<img id="gameFileLogoPreview" style="max-width:200px;">	
			</div>
		</div>
	</div>
	
	<div class="card">
		<div class="card-body" id="form_block">

			<div class="form-group">
				<label for="modTitle">Название мода</label>
				<input class="form-control" name="modTitle" value="<?=$_POST['modTitle']?>" id="modTitle">
			</div>

			<div class="form-group">
				<label>Описание в формате <a target=_blank href=https://github.com/sandino/Markdown-Cheatsheet>markdown</a></label>
				<textarea class="form-control" name="modAbout" id="modAbout" rows="4"><?=$_POST['modAbout']?></textarea>
			</div>

			<div class="form-group">
				<label>Ссылки. Формат: чередующиеся строки "ссылка/описание" <a target=_blank href=/img/create_links_example.png>(пример)</a></label>
				<textarea class="form-control" rows="4" name="modLinks" id="modLinks"><?=$_POST['modLinks']?></textarea>
			</div>

			<div class="form-group">
				<label>Поддерживаемые операционные системы</label><br>

				#OS_ITEMS#
			</div>

			<div class="form-group">
				<label>Новые операционные системы (через запятую)</label>
				<input class="form-control" name="modNewOS" id="modNewOS" value="<?=$_POST['modNewOS']?>">
			</div>

			<div class="form-group">
				<label>Существующие теги</label><br>

				#TAG_ITEMS#
			</div>

			<div class="form-group">
				<label>Новые теги (через запятую)</label>
				<input class="form-control" name="modNewTags" id="modNewTags" value="<?=$_POST['modNewTags']?>">
			</div>

			<div class="form-group">
				<label for="modVideo">Видео-ролики с ютуба, ссылки, по одной в строке</label>
				<textarea class="form-control" name="modVideo" id="modVideo" rows="3"><?=$_POST['modVideo']?></textarea>
			</div>

			<!-- todo я ЗНАЮ, что у инпута file есть модификатор multiple, текущий вариант сделан на скорую руку, ну и чтобы размер одного поста ограничить -->
			<div class="form-group">
				<label for="modFilePics1">Скриншоты</label>
				<br>
				<input type="file" name="modFilePics1" id="modFilePics1" class="input-default-js">
				<img id="modFilePicsPreview1" style="max-width:200px;">	
			</div>
			<div class="form-group">
				<input type="file" name="modFilePics2" id="modFilePics2" class="input-default-js">
				<img id="modFilePicsPreview2" style="max-width:200px;">	
			</div>
			<div class="form-group">
				<input type="file" name="modFilePics3" id="modFilePics3" class="input-default-js">
				<img id="modFilePicsPreview3" style="max-width:200px;">	
			</div>
			<div class="form-group">
				<input type="file" name="modFilePics4" id="modFilePics4" class="input-default-js">
				<img id="modFilePicsPreview4" style="max-width:200px;">	
			</div>
			
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-lg">Отправить на модерацию</button>
</form>
<BR>
<BR>