<!-- https://simplemde.com -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
	$(document).ready(function () {
		function subscribeImagePreviewToFileChange(fileId, imageId){
			$("#"+fileId).on("change", function(){ 
				if (this.files && this.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#'+imageId)
							.attr('src', e.target.result);
					};
					reader.readAsDataURL(this.files[0]);
				}
			});
		}
	
		function onGameSelectorChanged(){
			var result = $( "#gameSelector" ).val();
			
			if (result == "NULL")
				$( "#game_card" ).show();
			else
				$( "#game_card" ).hide();
			}
			
		function setCheckboxesByStringWithValues(id){
			var values = $(id)
				.val()
				.split(",");
			for (var i = 0; i < values.length; i++) {
				var selectedValue = values[i].trim();
				var checkbox = $(":checkbox[value='"+selectedValue+"']");
				if (checkbox.length)
					checkbox.attr("checked","true");
			}
		}

		$( "#gameSelector" ).change(function() {
			onGameSelectorChanged();
		});
		
		$("#gameSelector")
			.val(($( "#GameId" ).val()))
			.change();
		
		//https://simplemde.com/
		new SimpleMDE({ 
				element: document.getElementById("formAboutText"),
				spellChecker: false,
				hideIcons: ["guide"],
				status: false,
				renderingConfig: {singleLineBreaks:false}
			});
			
		onGameSelectorChanged();
		
		subscribeImagePreviewToFileChange("gameFileLogo", "gameFileLogoPreview");
		
		subscribeImagePreviewToFileChange("modFilePics1", "modFilePicsPreview1");
		subscribeImagePreviewToFileChange("modFilePics2", "modFilePicsPreview2");
		subscribeImagePreviewToFileChange("modFilePics3", "modFilePicsPreview3");
		subscribeImagePreviewToFileChange("modFilePics4", "modFilePicsPreview4");
		
		setCheckboxesByStringWithValues("#modOSSelected");
		setCheckboxesByStringWithValues("#modTagsSelected");	
	});
</script>