<h3>Добавление модификации, порта или ремастера</h3>
<br>

<form method=post enctype="multipart/form-data">
	<div class="card">
		<div class="card-body" id="form_block">
			<div class="form-group">
				<label>Для какой игры добавляем модификацию</label>
				<select name="form_game_selector" id="form_game_selector" class="form-control">
					<option value="NULL">===НОВАЯ ИГРА===</option>
					#GAMES_ITEMS#
				</select>
			</div>
		</div>
	</div>
	
	<div class="card" id="game_card">
		<div class="card-body" id="form_block">

			<div class="form-group">
				<label>Название игры</label>
				<input class="form-control" name="gameTitle">
			</div>
			
			<div class="form-group">
				<label>Ссылки. Формат: чередующиеся строки "ссылка/описание" (ссылка на картинку-пример)</label>
				<textarea class="form-control" name="formLinks" rows="4" id="gameLinks"></textarea>
			</div>
			
			<div class="form-group">
				<label for="gameFileLogo">Логотип</label>
				<br>
				<input type="file" name="gameFileLogo" id="gameFileLogo" class="input-default-js">
				<img id="gameFileLogoPreview" style="max-width:200px;">	
			</div>
		</div>
	</div>
	
	<div class="card">
		<div class="card-body" id="form_block">

			<div class="form-group">
				<label for="modTitle">Название мода</label>
				<input class="form-control" name="modTitle" id="modTitle">
			</div>

			<div class="form-group">
				<label>Описание в формате <a target=_blank href=https://github.com/sandino/Markdown-Cheatsheet>markdown</a></label>
				<textarea class="form-control" name="formAboutText" id="formAboutText" rows="4"></textarea>
			</div>

			<div class="form-group">
				<label>Ссылки. Формат: чередующиеся строки "ссылка/описание" (ссылка на картинку-пример)</label>
				<textarea class="form-control" rows="4" name="modLinks" id="modLinks"></textarea>
			</div>

			<div class="form-group">
				<label>Поддерживаемые операционные системы</label><br>

				#OS_ITEMS#
			</div>

			<div class="form-group">
				<label>Новые операционные системы (через запятую)</label>
				<input class="form-control" name="modNewOS" id="modNewOS">
			</div>

			<div class="form-group">
				<label>Существующие теги</label><br>

				#TAG_ITEMS#
			</div>

			<div class="form-group">
				<label>Новые теги (через запятую)</label>
				<input class="form-control" name="modNewTags" id="modNewTags">
			</div>

			<div class="form-group">
				<label for="modVideo">Видео-ролики с ютуба, ссылки, по одной в строке</label>
				<textarea class="form-control" name="modVideo" id="modVideo" rows="3"></textarea>
			</div>

			<!-- todo я ЗНАЮ, что у инпута file есть модификатор multiple, текущий вариант сделан на скорую руку -->
			<div class="form-group">
				<label for="modFilePics1">Скриншоты</label>
				<br>
				<input type="file" name="modFilePics1" id="modFilePics1" class="input-default-js">
				<img id="modFilePicsPreview1" style="max-width:200px;">	
			</div>
			<div class="form-group">
				<input type="file" name="modFilePics2" id="modFilePics2" class="input-default-js">
				<img id="modFilePicsPreview2" style="max-width:200px;">	
			</div>
			<div class="form-group">
				<input type="file" name="modFilePics3" id="modFilePics3" class="input-default-js">
				<img id="modFilePicsPreview3" style="max-width:200px;">	
			</div>
			<div class="form-group">
				<input type="file" name="modFilePics4" id="modFilePics4" class="input-default-js">
				<img id="modFilePicsPreview4" style="max-width:200px;">	
			</div>
			
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Отправить на аппрув</button>
</form>
<BR>
<BR>

<?
function prettyPrint($value){
	echo "<pre>";
	print_r($value);
	echo "</pre>";
}
prettyPrint($_POST);
prettyPrint($_FILES);
?>