<div class="card d-none d-lg-block">
	<div class="card-body">
		<p>На этом сайте вы найдёте портированные версии и модификации старых, позволяющие как минимум запустить их на
			современных операционных системамх, как максимум - получить лучшую графику или другие преимущества - настраиваемое
			управление, обзор с помощью мыши, сетевую игру через интернет, и т.д. #GAMES_COUNT#</p>
	</div>
</div>
<form>
	<div class="form-inline">
		<input class="form-control form-control-lg flex-fill mr-2" type="text" id="filter" placeholder="Фильтр по имени игры">
		<button id="button_show_tags" type="button" class="btn btn-primary collapse.show my-2">Фильтр по тегам</button>
		<button id="button_hide_tags" type="button" class="btn btn-danger collapse my-2">Сбросить фильтр</button>
	</div>
	<div class="form-group">
		<p></p>
		<div class='card collapse' id="tag_filter">
			<div class='card-body'>
				#FILTER_TAGS#
			</div>
		</div>
	</div>
</form>