<div class="card game_card">
  <div class="card-header">
    #TITLE#
    <H6>#OS_BADGES#</H6>
  </div>
  <div class="card-body">
  
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-block1" role="tab" aria-controls="nav-block1"
          aria-selected="true">Описание</a>
        <a style="#IMAGES_TAB_STYLE#" class="nav-item nav-link" id="nav-block2-tab" data-toggle="tab" href="#nav-block2" role="tab" aria-controls="nav-block2"
          aria-selected="false">Скриншоты</a>
        <a style="#VIDEO_TAB_STYLE#" class="nav-item nav-link" id="nav-block3-tab" data-toggle="tab" href="#nav-block3"
          role="tab" aria-controls="nav-block3" aria-selected="false">Видео</a>
        <a class="nav-item nav-link" id="nav-block4-tab" data-toggle="tab" href="#nav-block4" role="tab" aria-controls="nav-block4"
          aria-selected="false">Скачать</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane show active" id="nav-block1" role="tabpanel">

        <p></p>
        #TEXT#
        #TAGS#

      </div>
      <div class="tab-pane" id="nav-block2" role="tabpanel">
        <p></p>
        <div class="d-flex align-content-start flex-wrap">
          #IMAGES#
        </div>
      </div>

      <div class="tab-pane" id="nav-block3" role="tabpanel">
        <p></p>

        <div class="d-flex align-content-start flex-wrap">
            #VIDEO#
        </div>

      </div>

      <div class="tab-pane" id="nav-block4" role="tabpanel">
        <p></p>
        #PORT_LINKS#
      </div>
    </div>

  </div>
	<div class="card-footer">
		<div style="display:inline-block;float:right;" class="ya-share2" data-services="vkontakte,facebook,twitter,reddit,lj,telegram" data-counter=""></div>
		<a href="#ADD_SCREENS_TO_MOD#">Добавить скриншотов</a>
		<BR>
		<a href="#EDIT_LINK#">Редактировать</a>
	</div>
	
  </div>

<div class="card game_card" style="margin-top:20px;">
  <div class="card-body">
    <div id="disqus_thread"></div>
	<noscript>Без JavaScript комментариев нет. Увы.</noscript>
  </div>
</div>