<h3>Загрузка скриншотов для мода <? if (isset($_REQUEST['ModName'])) echo $_REQUEST['ModName'];?></h3>
<br>

#PHP#

<form method=post enctype="multipart/form-data">
	<input type="hidden" name="formPosted" value="1">

	<div class="card" id="game_card">
		<div class="card-body" id="form_block">			
			<div class="form-group">
				<label for="modFiles">Скриншоты (формат JPEG, каждый файл не более 1.5 МБ)</label>
				<br>
				<input type="file" name="modFiles[]" id="modFiles" class="input-default-js" multiple>
			</div>
		</div>
	</div>

	<div class="g-recaptcha" data-sitekey="6LftAI0UAAAAAPErW2ODsbHx22mQn_jGg2d8PeC-"></div>
	<br>
	<button type="submit" class="btn btn-primary btn-lg">Отправить на модерацию</button>
	<BR><BR>После клика отправка данных занимает в районе 10-20 секунд, так что не пугайтесь, страница не зависла, всё идёт по плану :)
</form>
<BR>
<BR>